* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Page Styles */
body {
  font-family: "Kode Mono", serif;
  background-color: #4f5d75;
  color: #2d3142;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #222;
}

a {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  color: #ef8354;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

p {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
/* Table Styles */
.table-container {
  margin: 20px auto;
  padding: 10px;
  max-width: 95%;
  background: #c2c2c2;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  font-size: 16px;
}

thead {
  background-color: #656767;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 15px;
  border: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tbody tr:hover {
  background-color: #7a7a7a;
}

/* Responsive Table */
@media (max-width: 768px) {
  th,
  td {
    font-size: 14px;
    padding: 10px;
  }

  a {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }
}
