* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans Hatran", serif;
  background-color: #fffcf8;
}

/* Design for Main Container  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Nav design */
nav {
  background-color: rgb(19, 7, 112);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: white;
}

/* Design for the Image and First COntainer */
.container .first-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 48%;
  height: fit-content;
}
.header {
  padding: 50px 50px 20px 100px;
  align-items: center;
}
#nain-image {
  width: 450px;
  padding: 20px 20px 50px;
}

h1 {
  font-size: 34px;
  width: 450px;
  margin: auto;
  text-align: center;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 2px;
}

.container .first-container footer {
  text-align: center;
  padding: 40px;
}
.container .first-container footer p {
  font-size: 14px;
  color: black;
  font-weight: 700;
  margin-top: 20px;
}

/*  Designing the Second Container */
.container .second-container {
  padding: 15px 30px;
  background-color: white;
}
/* Design for the first ptag in Second container */
.container .second-container .altschoolar {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}
.second-container .altschoolar a {
  color: #0367f2;
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;
}

/* Design for h2 in second container */
.second-container h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}
/* Design for the 2nd ptag */
.second-container .take-next-step {
  font-size: 14px;
  margin-bottom: 18px;
  color: #95a5ba;
  letter-spacing: 1px;
}

/* Design for the input and select box */

.inputs-select-boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  line-height: 28px;
  font-size: 14px;
}
.inputs-select-boxes input,
.inputs-select-boxes select {
  display: block;
  width: 350px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #e8f0fe;
  font-size: 14px;
}

.inputs-select-boxes input:focus,
.inputs-select-boxes select:focus {
  outline: 2.2px solid #0367f2;
}

.password-confirm {
  position: relative;
}
.icon-div {
  position: absolute;
  right: 15px;
  top: 35px;
  color: #5f5959;
  cursor: pointer;
}
#Confirm-Password,
#Email {
  background-color: #e8f0fe;
}
/* Design for Find us */
.Find-Us {
  line-height: 30px;
  margin-bottom: 25px;
  font-size: 14px;
}
.Find-Us input {
  display: block;
  height: 38px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #e8f0fe;
  padding: 10px;
  font-size: 14px;
}
.Find-Us input:focus {
  outline: 2.2px solid #0367f2;
}
.terms-button {
  margin-bottom: 20px;  
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 25px;
}

.terms-button a {
  color: #3986f4;
  cursor: pointer;
  text-decoration: none;
}
/* Button Design */
button {
  background-color: #0367f2;
  margin-top: 20px;
  height: 45px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font: size 14px;
}

/* Design for Tab screen */
@media screen and (max-width: 1024px) {

  .container .first-container {
    width: 80%;
  }
  .container .first-container footer {
    padding: 10px;
  }
  .container .second-container {
    width: 80%;
  }
  .inputs-select-boxes {
    flex-direction: column;
  }
  .inputs-select-boxes input,
  .inputs-select-boxes select {
    width: 100%;
  }
  .Find-Us input {
    width: 100%;
  }
  .icon-div {
    right: 10px;
    top: 30px;
  }
  .header {
    padding: 20px 20px 10px 20px;
  }
  #nain-image {
    width: 400px;
  }
  h1 {
    font-size: 28px;
  }
  .second-container h2 {
    font-size: 20px;
  }

  .terms-button {
    font-size: 14px;
    text-align: center;
  }
}

/* Design for Mobile Screen */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .container .first-container {
    display: none;
  }
  nav {
    padding: 15px 20px;
    font-size: 14px;
  }

  .container .second-container {
    width: 100%;
  }

  .inputs-select-boxes input,
  .inputs-select-boxes select {
    width: 350px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 12px;
  }
  .container .second-container .altschoolar {
    font-size: 14px;
    justify-content: center;
    margin-bottom: 15px;
    word-spacing: 3px;
  }

  .second-container .take-next-step {
    font-size: 14px;
    margin-bottom: 18px;
    letter-spacing: 0px;
  }
  #Confirm-Password,
  #Email {
    background-color: white;
  }

  .inputs-select-boxes {
    font-size: 12px;
  }

  .Find-Us {
    font-size: 12px;
  }

  .terms-button {
   
    line-height: 40px;
    font-size: 12px;
    
    line-height: 25px;
  } 
}
