* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans Hatran', sans-serif;
  background-color: hsl(206, 56%, 57%);
  color: rgb(3, 21, 55);
}
/* Nav Design */
nav {
  background-color: hsl(206, 49%, 49%);  
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
nav a {
  text-decoration: none;
  color: rgb(3, 21, 55);
}
nav a:hover {
  background-color: rgb(33, 52, 87);
  padding: 10px;
  color: whitesmoke;
 box-shadow: 0px 40px 100px 0px white;
  border-radius: 5px;
}
.signin-up{
  width: 150px;
  display: flex;
  justify-content: space-between;
  
}

/* Header Design */
header {
  padding: 20px;
}
header h1 {
  text-align: center;
  font-size: 32px;
}
header h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/* About Section Design */
.about {
  padding: 20px;
}
h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}
p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
ul {
  padding: 0px 20px;
  line-height: 30px;
}

/* Footer Design */
footer {
  background-color: hsl(206, 49%, 49%);
  padding: 20px;
}
footer p {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
footer a {
  text-decoration: underline;
  color: rgb(3, 21, 55);
}
@media screen and (max-width: 768px) {
  nav { 
    font-size: 14px;    
    padding: 20px 10px;
  }
  
  .signin-up{
    width: 120px;    
  }

  header h1 {
    font-size: 26px;
  }
  
header h4 {
    font-size: 14px;
    margin: 10px;
  }

  h2 {
      font-size: 22px;
    }
  
    footer p {
      font-size: 14px;
    }
   
}