* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans Hatran", sans-serif;
}

/* Design for Main Container  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Nav design */
nav {
  background-color: rgb(19, 7, 112);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav a {
  text-decoration: none;
  color: white;
}

/* Design for the Image and First COntainer */
.container .first-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fffcf8;
  width: 50%;
  padding-bottom: 50px;
}

.container .first-container .main-image {
  margin-top: 70px;
}
.container .first-container .heading {
  text-align: center;
  font-size: 42px;
  padding: 30px 120px;
  line-height: 60px;
}
.container .first-container footer {
  text-align: center;
  padding: 10px;
}
.container .first-container footer p {
  font-size: 14px;
  color: black;
  font-weight: 700;
  margin-top: 20px;
}

/*  Designing the Second Container */
.container .second-container {
  width: 50%;
  padding: 0 30px;
}
/* Design for the first ptag in Second container */
.container .second-container .altschoolar {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
.second-container .altschoolar a {
  color: #0367f2;
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;
}

/* Design for h2 in second container */
.second-container h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
/* Design for the 2nd ptag */
.second-container .take-next-step {
  font-size: 16px;
  margin-bottom: 20px;
  width: 450px;
  color: #95a5ba;
  word-spacing: 1px;
  line-height: 25px;
}
/* Design for form page */
.forms {
  padding: 80px;
  line-height: 35px;
}
.forms input {
  width: 100%;
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.password {
  position: relative;
  margin: 20px 0;
}
#toggle_password {
  position: absolute;
  top: 35px;
  right: 10px;
  cursor: pointer;
  padding: 15px;
  color: gray;
}
.password p {
  font-size: 14px;
  color: #555c77;
  font-weight: 500;
}

/* Design for the input and select box */

/* Button Design */
button {
  background-color: #0367f2;

  padding: 16px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font: size 14px;
  margin-bottom: 40px;
}

.terms {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}
.terms a {
  color: #3986f4;
  cursor: pointer;
}
/* Design For Media (Tablet) */

@media screen and (max-width: 1024px) {
  body {
    background-color: #fffcf8;
  }
  .container {
    width: 90%;
    margin: auto;
  }

  .container .first-container .main-image {
    width: 350px;
  }
  .container .first-container .heading {
    text-align: center;
    font-size: 22px;
    padding: 15px;
    line-height: 40px;
    word-spacing: 2px;
  }
  .container .first-container {
    width: 50%;
    padding: 50px;
    height: 700px;
  }
  .container .second-container {
    width: 50%;
    height: 700px;
    padding: 20px;
    background-color: white;
    justify-content: center;
  }
  .forms {
    padding: 10px;
  }
  .forms input {
    display: block;
    width: 100%;
  }
  .container .second-container .altschoolar {
    font-size: 14px;
    margin-bottom: 10px;
    
  }
  .second-container .take-next-step {
    font-size: 16px;
    width: 350px;
  }
}

/* Design for Mobile */
@media screen and (max-width:768px) {
  .container {
    width: 100%;
    
  }
  .container .first-container {
   display: none;
  }
  .container .second-container {
    width: 100%;
    height: 700px;
    padding: 20px;
    background-color: white;
    justify-content: center;
  }
  .second-container h2 {
    font-size: 24px;
    font-weight: 700;
    
  }
  .second-container .take-next-step {
    font-size: 16px;    
  }
  .forms input {
    width: 100%;
    padding: 10px;
   
  }
  .forms {
    font-size: 14px;
  }
  .terms {
    font-size: 12px;
   
 
  }
  nav {
    
    padding: 10px 10px;
  }
  .terms a {
    text-decoration: none;
  }
}